<%= simple_form_for @account_book, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :date, as: :string, label: '年月日',:input_html => {:class => 'datepicker'} %>
  <%= f.association :category, prompt: "カテゴリーを選択" %>
  <%= f.input :money %>
  <%= f.input :description %>
  <%= f.input :out %>
  <%= f.input :in %>
  <%= f.input :memo %>
  <%= f.input :status %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                account_books_path, :class => 'btn' %>
  </div>
<% end %>
