<% @account_books.each.with_index(1) do |account_book, i| %>
  <% @ab =AccountBook.where(date: account_book[0][1], category_id: account_book[0][0]) %>
  <% if i % 2 == 0 %>
    <tr class="pop<%= format_id account_book[0][1] %><%=account_book[0][0]%>">
    <% else %>
      <tr class="pop<%= format_id account_book[0][1] %><%=account_book[0][0]%>" style="background-color: #f9f9f9;">
      <% end %>
      <td class="span2">
        <% if @ab.size >1 %>
          <a class="pop" id="<%= format_id account_book[0][1] %><%=account_book[0][0]%>"><%= format_at account_book[0][1] %></div>
        <% else %>
          <%= format_at account_book[0][1] %>
        <% end %>
      </td>
      <td class="span2"><%= Category.find(account_book[0][0]).name %></td>
      <td class="span3" style="text-align: right;">&yen;<%= account_book[1] %></td>
      <td><%= @ab.first.memo unless @ab.size > 1 %></td>
      <td>
        <% unless @ab.size > 1 %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_account_book_path(@ab.first),remote: true,  :class => 'btn btn-small' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            delete_account_books_path(id: @ab.first.id), remote: true,
            :class => 'btn btn-small btn-danger' %>
        <% end %>
      </td>
    </tr>
    <% next unless @ab.size > 1 %>
    <% @ab.each do |ab| %>
      <tr id="<%= ab.date %>", class="hide_tb<%= format_id ab.date %><%= ab.category_id %>", style="display: none;">
        <td class="span2"> <%= format_at ab.date %></td>
        <td><%= ab.category.name %></td>
        <td style="text-align: right;">&yen;<%= ab.money %></td>
        <td><%= ab.memo %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_account_book_path(ab),remote: true,  :class => 'btn btn-small' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            delete_account_books_path(id: ab.id), remote: true,
            :class => 'btn btn-small btn-danger' %>
        </td>
      </tr>
    <% end %>
  <% end %>
