<%- model_class = AccountBook -%>
<div class="page-header">
  <h1>Daily</h1>
</div>
<section class="nav-current">
  <div class="text-left span4" style="float:left">
    <%= link_to root_path(month:prev_month(@today)), class:'btn btn-large btn-primary' do %>
      <i class="icon-chevron-left"></i>
    <% end %>
  </div>
  <div class="text-center span4" style="float:left">
    <h2 style="margin:0"><%= format_year(@today) %></h2>
  </div>
  <div class="text-right span4" style="float:left">
    <%= link_to root_path(month:next_month(@today)), class:'btn btn-large btn-primary' do %>
      <i class="icon-chevron-right"></i>
    <% end %>
  </div>
</section>
<div style="clear: both;"></div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:money) %></th>
      <th><%= model_class.human_attribute_name(:memo) %></th>
      <th class="span2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody class="account-index">
    <%= render "index" %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),new_account_book_path, remote: true, :class => 'btn btn-large  btn-primary' %>
<div id="account-modal" class="modal hide"></div>
