<%- model_class = AccountBook -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:money) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:out) %></th>
      <th><%= model_class.human_attribute_name(:in) %></th>
      <th><%= model_class.human_attribute_name(:memo) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @account_books.each do |account_book| %>
      <tr>
        <td><%= link_to account_book.id, account_book_path(account_book) %></td>
        <td><%= account_book.date %></td>
        <td><%= account_book.category %></td>
        <td><%= account_book.money %></td>
        <td><%= account_book.description %></td>
        <td><%= account_book.out %></td>
        <td><%= account_book.in %></td>
        <td><%= account_book.memo %></td>
        <td><%= account_book.status %></td>
        <td><%=l account_book.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_account_book_path(account_book), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      account_book_path(account_book),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_account_book_path,
            :class => 'btn btn-primary' %>
